table.shows-section-table {
	margin-bottom:25px;
	margin-left:10px;
	
	text-align:left;	
}

th {
	font-weight: normal;
	font-size: 14px;
	color: gray;
}

.remove-button {
	width: 20px;
	color: lightgray;
    font-weight: lighter;
    font-size: 12px;
    text-align: center;
}

.remove-button:hover {
	width: 20px;
	color: red;
    font-weight: lighter;
    font-size: 16px;
    cursor: pointer;
}

button.link {
	background: none;
	border: none;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 110%;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

* {
	box-sizing: border-box;
}

body {
	font: 16px Helvetica;
}

/* .autocomplete {
	the container must be positioned relative:
	position: relative;
	display: inline-block;
}

input {
	border: 1px solid transparent;
	background-color: #f1f1f1;
	padding: 10px;
	font-size: 16px;
}

input[type=text] {
	background-color: #f1f1f1;
	width: 100%;
}

input[type=submit] {
	background-color: DodgerBlue;
	color: #fff;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	position the autocomplete items to be the same width as the container:
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
	when hovering an item:
	background-color: #e9e9e9;
}

.autocomplete-active {
	when navigating through the items using the arrow keys:
	background-color: DodgerBlue !important;
	color: #ffffff;
} */

.footer {
	position: fixed;
	left: 0;
	bottom: 8px;
	width: 100%;
	background-color: white;
	color: black;
	font-size: 12px;
	text-align: left;
}

.wholeSwitch {
	margin-left: 280px;
	margin-top: 20px;
	font-size: 13px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 20px;
	top: 10px;
	margin-bottom: 5px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}